{% extends "group/read_base.html" %}
{% set dataset_type = h.default_package_type() %}

{%- block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/base.css') }}">
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/group/read.css') }}">
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/snippets/facet_list.css') }}">
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/snippets/package_list_new.css') }}">
{% endblock %}

{% block content %}
<div class="content"> 
    <div class="container">
        <div class="breadcrumb-container flex gap5">
            <div>
                <a href="/" aria-label="Home"><i class="fa fa-home"></i></a>
            </div>
            <div>
                {% link_for h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups'), named_route=group_type+'.index' %}
            </div>
            <div>
                {% link_for group_dict.display_name|truncate(35), named_route=group_type+'.read', id=group_dict.name, title=group_dict.display_name, class_="active" %}
            </div>
        </div>
    </div>

    <div class="container flex flex-h gap10">
        <div>
            <section class="group-info mb-2">
                
                <div class="group-info-image">
                    <img src="{{ h.url_for_static('/images/icons/solis-consultoria.jpg') }}">
                </div>
                <div class="group-info-name">
                    {{group_dict.display_name}}
                </div>
                <div class="group-info-description">
                    <div class="text-desc">{{group_dict.description}}</div>
                    <div class="text-label">Descrição</div>
                </div>
                <div class="group-info-accounts flex flex-v flex-valign-c flex-halign-c">
                    <div class="group-info-datasets-count flex flex-v flex-valign-c flex-halign-c">
                        <div class="number">{{ h.SI_number_span(group_dict.package_count) }}</div>
                        <div>Datasets</div>
                    </div>
                </div>
            </section>

            <section class='search-list-wrapper'>
                
                <div class="search-sidebar-container">
                {% for facet in facet_titles %}
                    {% snippet 'snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets, hide_empty=true %}
                {% endfor %}
                </div>
        
            </section>
        </div>
        <div class="w-100 flex flex-v gap5">
            <section class='main-title'>
            
                <div class="main-title-text">Buscar Dados</div>
            
                <div class="main-input-container">
                    <input type="text" class="main-input" placeholder="Buscar">
                    <button type="submit">Lupa</button>
                </div>
            
            </section>
            {% snippet 'snippets/package_list_new.html', packages=page.items %}
        </div>

    </div>
  </div>
{% endblock %}

{% block primary_content_inner %}
  {% block groups_search_form %}
    {% set facets = {
      'fields': fields_grouped,
      'search': search_facets,
      'titles': facet_titles,
      'translated_fields': translated_fields,
      'remove_field': remove_field }
    %}
    {% set sorting = [
      (_('Relevance'), 'score desc, metadata_modified desc'),
      (_('Name Ascending'), 'title_string asc'),
      (_('Name Descending'), 'title_string desc'),
      (_('Last Modified'), 'metadata_modified desc')
      ]
    %}
    {% snippet 'snippets/search_form.html', form_id='group-datasets-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, placeholder=h.humanize_entity_type('package', dataset_type, 'search placeholder') or _('Search datasets...'), show_empty=request.args, fields=fields %}
  {% endblock %}
  {% block packages_list %}
    {% if page.items %}
      {% snippet 'snippets/package_list_new.html', packages=page.items %}
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ page.pager(q=q) }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {{ super() }}
  <div class="filters">
    <div>
      {% for facet in facet_titles %}
        {% snippet 'snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets %}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
