{% extends "group/read_base.html" %}
{% set dataset_type = h.default_package_type() %}

{%- block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/base.css') }}">
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/group/read.css') }}">
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/snippets/facet_list.css') }}">
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/snippets/package_list_new.css') }}">
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/snippets/pagination.css') }}">
{% endblock %}

{% block content %}
<div class="content"> 
    <div class="container">
        <div class="breadcrumb-container flex gap5">
            <div>
                <a href="/" aria-label="Home"><i class="fa fa-home"></i></a>
            </div>
            <div>
                {% link_for h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups'), named_route=group_type+'.index' %}
            </div>
            <div>
                {% link_for group_dict.display_name|truncate(35), named_route=group_type+'.read', id=group_dict.name, title=group_dict.display_name, class_="active" %}
            </div>
        </div>
    </div>

    <div class="container flex flex-h gap10">
        <div>
            <section class="group-info mb-2">
                
                <div class="group-info-image">
                    <img src="{{ h.url_for_static('/images/icons/solis-consultoria.jpg') }}">
                </div>
                <div class="group-info-name">
                    {{group_dict.display_name}}
                </div>
                <div class="group-info-description">
                    <div class="text-desc">{{group_dict.description}}</div>
                    <div class="text-label">Descrição</div>
                </div>
                <div class="group-info-accounts flex flex-v flex-valign-c flex-halign-c">
                    <div class="group-info-datasets-count flex flex-v flex-valign-c flex-halign-c">
                        <div class="number">{{ h.SI_number_span(group_dict.package_count) }}</div>
                        <div>Datasets</div>
                    </div>
                </div>
            </section>

            <section class='search-list-wrapper'>
                
                <div class="search-sidebar-container">
                {% for facet in facet_titles %}
                    {% snippet 'snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets, hide_empty=true %}
                {% endfor %}
                </div>
        
            </section>
        </div>
        <div class="w-100 flex flex-v gap5">
            <section class='main-title'>
            
                <div class="main-title-text">Buscar Dados</div>
            
                <div class="main-input-container">
                    <input type="text" class="main-input" id="main-input" placeholder="Buscar">
                    <button type="submit">Lupa</button>
                </div>
            
            </section>
            <div class="search-list-container">
              <div class="list flex flex-v gap5"></div>
              <div class="pagination-wrapper">
                <div class="pagination">
                  <div class="control" data-id="left"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                  </svg></div>
                  <div class="items"></div>
                  <div class='control' data-id="right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg></div>
                </div>
                <div class="right-wrapper">
                  <number></number> datasets encontrados
                </div>
              </div>
            </div>
        </div>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super}}
    <script>
      const isAdmin = {{ 'true' if  c.userobj.sysadmin else 'false' }};
      const GROUP = "{{group_dict.name}}"
    </script>

    <script src="{{ h.url_for_static('/js/package/search.js') }}"></script>
{% endblock %}