<section class="footer-spaguas">
  <div class="main-footer-container">
    <div class="footer-section logo">
      <img src="{{ h.url_for_static('/images/SP-aguas.png') }}" width="60%">
      <h1>Agência de Água do Estado de São Paulo</h1>
    </div>
    <div class="footer-section">
      <h3>DADOS</h3>
      <ul>
        <li><a href="#">Outorga</a></li>
        <li><a href="#">Regulação</a></li>
        <li><a href="#">Comunicação</a></li>
        <li><a href="#">Engenharia</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>SERVIÇOS</h3>
      <ul>
        <li><a href="#">Organização</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Grupos</a></li>
        <li><a href="#">DATASETS</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>LINKS</h3>
      <ul>
        <li><a href="https://cth.daee.sp.gov.br/sibh/" target="_blank">SIBH</a></li>
        <li><a href="https://hidroapp.spaguas.sp.gov.br/mapa" target="_blank">HidroApp</a></li>
        <li><a href="http://ph.daee.sp.gov.br/" target="_blank">PH - Portal Hidrologia</a></li>
        <li><a href="http://www.spaguas.sp.gov.br/site/" target="_blank">Sp águas</a></li>
      </ul>
    </div>
    <div class="footer-section contact">
      <h3>CONTATO</h3>
      <p><strong>Endereço:</strong> Rua Boa Vista, 175 2º andar, bloco 5 - São Paulo/SP
      <strong>Telefone:</strong> 3293 - 8200</br>
      <!-- <strong>E-mail:</strong> ?@spaguas.sp.gov.br</br> -->
    </div>
  </div>

</section>


{% block styles %}
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/footer.css') }}">
  <link rel="stylesheet" href="{{ h.url_for_static('/styles/base.css') }}">
{% endblock %}