{% trans %}
<p>Bem vindo ao dados abertos SP ÁGUAS, uma plataforma dedicada ao acesso livre as nossas informações públicas.</p>

<p>Com o objetivo de facilitar o acesso e adicionar transparência aos dados da agência, o portal de dados abertos segue os padrões mundiais de sistemas de gerenciamento de dados, facilitando assim a divulgação e reutilização das informações.</p>

<p>Os dados estão disponiveis em vários formatos, como por exempo CSV, JSON, SHP. O uso das informações é livre, desde que se respeite a licença.</p>

<p>Valorizamos sua colaboração, e em caso de dúvidas ou sugestões, entre em contato por um de nossos canais de comunicação</p>
{% endtrans %}



