
.list-item-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateX(50%);
    transition: 0.3s all;
}

.list-item-container.show{
    transform: translateX(0%);
    opacity: 1;
}

.list-item-container .title{
    font-weight: 600;
    font-size: larger;
    display: flex;
    gap: 5px;
    text-transform: uppercase;
}
.list-item-container .subtitle{
    font-weight: 600;
    font-size: small;
    text-transform: capitalize;
    /* color: #c7c7c7; */
}

.list-item-container .description{
    margin-top: 10px;
}

.list-item-container .tags{
    margin-top: 5px;
    width: 100%;
    display: flex;
    gap: 5px;
}

.list-item-container .tags span{
    border: 1px solid #c7c7c7;
    padding: 5px;
    border-radius: 3px;
    color: grey;;
    font-size: x-small;
}

.list-item-container .updated_at{
    width: 100%;
    text-align: right;
    font-size: small;
    color: gray;
}

.list-item-container .footer-container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}